.brand{
  margin-right: 20px;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-item {
  margin-right: 100px;
}

.nav-link {
  color: rgb(28, 28, 28);
}

.nav-link:hover {
  color: #fffdfd;
}

.cartwidget {
  display: flex;
  margin-right: 20px;
  margin-top: 5px;
}
